[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.app/
*.apk

.vs/
.vscode/
.idea/

*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.pyc

Tools/__pycache__/
docs/.Rhistory
mono_crash.*
nested_access.dll

.DS_Store
Thumbs.db

sysinfo.txt
